@model IEnumberable<WebsiteBanHang.Models.KhachHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Address</td>
                <td>Email</td>
                <td>Phone Number</td>
            </tr>
            @foreach ()
            {

            }
        </table>
    </div>
</body>
</html>
