@model IEnumerable<WebsiteBanHang.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@{
    IEnumerable<WebsiteBanHang.Models.SanPham> lstDTM = ViewBag.ListDTM as IEnumerable<WebsiteBanHang.Models.SanPham>;
    IEnumerable<WebsiteBanHang.Models.SanPham> lstLTM = ViewBag.ListLTM as IEnumerable<WebsiteBanHang.Models.SanPham>;
    IEnumerable<WebsiteBanHang.Models.SanPham> lstMTBM = ViewBag.ListMTBM as IEnumerable<WebsiteBanHang.Models.SanPham>;

}
<div class="container">
            <br/>
            <h2 style="text-align:center" class="text-font-size-13">Điện Thoại Mới Nhất</h2>
            <hr />
            @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstDTM)
</div>
<div class="container">
            <br />
            <h2 style="text-align:center" class="text-font-size-13">Máy Tính Bảng Mới Nhất</h2>
            <hr />
            @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstMTBM)
</div>
<div class="container">
    <br />
    <h2 style="text-align:center" class="text-font-size-13">Máy Vi Tính Xách Tay Mới Nhất</h2>
    <hr />
    @Html.Partial("~/Views/SanPham/SanPhamStyle2Partial.cshtml", lstLTM)
</div>

<!---->
<div class="content-bottom">
        <ul>
            <li><a href="#"><img class="img-responsive" src="~/Content/images/lo.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="~/Content/images/lo1.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="~/Content/images/lo2.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="~/Content/images/lo3.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="~/Content/images/lo4.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="~/Content/images/lo5.png" alt=""></a></li>
            <div class="clearfix"> </div>
        </ul>
    </div>

